<%- include('includes/head') %>

<section class="container">
  <h1>Hello Word</h1>

  <div class="responsive-table">
    <table class="table my-3">

      <% product.forEach(products => { %>
        <tr>
          <td><%= products.barcode %></td>
          <td><%= products.name %></td>
          <td><%= products.price %></td>
          <td><%= products.type_product.name %></td>
          <td><a href="/product/edit/<%= products.id%>">Editar</a></td>
          <td><a class="text-danger" href="/product/delete/<%= products.id%>">Deletar</a></td>
        </tr>
      <% }) %>

    </table>
  </div>
</div>

</section>

<%- include('includes/footer') %>