<%- include('../includes/head') %>

<section style="display: flex;">

  <%-include('../includes/nav') %>

  <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">

    <div class="responsive-table">
      <table class="table my-3">
  
        <div class="col-lg">
          <form action="/product/register" method="post">

            <div class="form-group">
              <label>Código de Barra</label>
              <input type="text" class="form-control" name="barcode">
            </div>

            <div class="form-group my-3">
              <label>Nome</label>
              <input type="text" class="form-control" name="name">
            </div>

            <div class="form-group my-3">
              <label>Preço</label>
              <input type="text" class="form-control" name="price">
            </div>

            <div class="form-group my-3">
              <label>Tipo de Produto</label>
              <select class="form-select my-2" id="floatingSelect" name="typeProductId"  aria-label="Floating label select example">
                <% data.forEach(datas => { %>
                  <option value="<%= datas.id %>"><%= datas.name %> </option>
                <% }) %>
              </select>
            </div>
  
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success btn-block btn-block ">Enviar</button>
            </div>

            <%- include('../includes/message') %> 

          </form>
        </div>
  
      </table>
    </div>

  </div>

</section>

<%- include('../includes/footer') %>