<%- include('../includes/head') %>

<section style="display: flex;">

  <%-include('../includes/nav') %>

  <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">

    <div class="responsive-table">
      <table class="table my-3">
  
        <div class="col-lg">
          <form action="/stock/register" method="post">
  
            <div class="form-group">
              <label>Quantidade</label>
              <input type="text" class="form-control" name="amounts">
            </div>
  
            <div class="form-group my-3">
              <label>Localização</label>
              <select class="form-select form-select-sm" name="locationId" aria-label="Small select example">
                <% location.forEach(locations => { %>
                  <option value="<%= locations.id %>"><%= locations.name %> </option>
                <% }) %>
              </select>
            </div>
  
            <div class="form-group my-3">
              <label>Produto</label>
              <select class="form-select teste" name="productId" aria-label="Default select example">
              </select>
            </div>

            <div class="d-grid gap-2">
              <!-- Button trigger modal -->
              <button type="button" class="my-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                pesquisar produto
              </button>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success btn-block btn-block ">Enviar</button>
            </div>
            
            <%-include('../includes/message') %>

          </form>
        </div>
  
      </table>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Produtos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body modal-one">
          <select class="form-select" multiple aria-label="Multiple select example">
            <% product.forEach(products => { %>
              <option value="<%= products.id %>"> <%= products.name %> </option>
            <% }) %>
          </select>
        </div>

      </div>

    </div>
  </div>

</section>

<%- include('../includes/footer') %>

<script>

  const modal = document.querySelector('.modal-one');
  
  modal.addEventListener('click', e => {
    const text = e.target.text
    const value = e.target.value
    testeSelect(text, value)
  })

  function testeSelect(text, id) {
    const select = document.querySelector('.teste')
    select.innerHTML = ''
    const op = document.createElement('option');
    op.value = id
    op.innerHTML = text
    select.appendChild(op, id)
  }  
  
</script>