<%- include('../includes/head') %>

<section style="display: flex;">

  <%-include('../includes/nav') %>

  <div class="container sahdow p-3 mb-5 bg-body-tertiary.rounded">

    <div class="responsive-table">
      <table class="table table-striped table-hover my-3 text-center">
  
        <thead>
          <tr>
            <th scope="col">Código de Barra</th>
            <th scope="col">Nome</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Localização</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
  
        <tbody>
          <% stock.forEach(stocks => { %>
            <tr>
              <td><%= stocks.product.barcode %></td>
              <td><%= stocks.product.name %></td>
              <td><%= stocks.amount %></td>
              <td><%= stocks.location.name %></td>
              <td><button type="button" class="btn btn-warning"><a href="/stock/edit/<%= stocks.id%>">Editar</a></button></td>
              <td><button type="button" class="btn btn-danger"><a class="text-light" href="/stock/delete/<%= stocks.id%>">Deletar</a></button></td>
            </tr>
          <% }) %>
        </tbody>
        
      </table>
    </div>

  </div>

  

</section>

<%- include('../includes/footer') %>